*.pyc
*.egg-info
__pycache__
tags
dist
build

*.deb
build-stamp
configure-stamp
debian/files
debian/mamonsu/*
debian/*.debhelper.log
debian/mamonsu.*.debhelper
debian/*.substvars

*.rpm
rpm-tmp.*
rpmbuild
mamonsu-*.tar.gz
